header{
    background-color: #1c8bc0;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    color:white;
    padding-top: 0%;
    
    padding:30px 20px;
    text-align: center;
     box-shadow:0 0 20px #1c8bc0;

    
  
}

h1{
    font-size:30px;
}

p{
    font-size:15px;
    text-align:center;
    
}


i{
    font-size: 20px;
    
  
}
body{
    background:#0b385a;
    
}
img{
  width:180px;
    border-radius:20px;
    box-shadow:0 0 20px #2dbae1;

}
section{
   height: 550px;
    
    color:white;
    margin:auto;
    margin-top:50px;
    margin-bottom:40px;
    width: 500px;
    padding:25px;
    background:#0b385a;
    border-radius:30px;
    border:2px solid white;
    text-align: center;
    box-shadow:0 0 20px #1c8bc0;
}

h2{
    color:#1c8bc0;
    font-size:25px;
    text-shadow:3px 3px 5px black;
}
.card1{
  
    font-size:15x;
    text-align:left;
    padding-left:20px;
}



.card2{
    padding:15px ;
    border:none;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background:blue;
    color:white;
    font-size:30px;
    box-shadow:0 5px 10px black;
    text-align: center;

}
.card3{
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  
}
footer{
  background-color: #1c8bc0;
  color: white;
  padding: 30px;
  text-align: center;
}