*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#333;
}

#guud{
    width:90%;
    max-width:1000px;
    margin:30px auto;
    background:white;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
}

header{
    background:#0077b6;
    color:white;
    text-align:center;
    padding:15px;
    position: fixed;
    width: 80%;
    margin-bottom: 150px;
    
    
}

nav{
    
    text-align:center;
    padding:25px;
}

nav a{
  color:  #7BBDE8;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:rgb(237, 168, 207);
}

main{
    padding:25px;
    line-height:1.8;
}

main h2{
    color:#0077b6;
    margin-bottom:15px;
}

img{
    width:100%;
    height: 180%

    object-fit:cover;
    border-radius:8px;
    margin:15px 0;
}

.kuwa{
    background:#eaf6ff;
    padding:15px;
    border-left:5px solid #0077b6;
    margin-top:0px;
    margin-bottom: 15px;
    border-radius:5px;
}
.last{
    margin-top: 120px;
}

.shaxan{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

.shaxan th,
.shaxan td{
    border:1px solid #ccc;
    padding:12px;
    text-align:center;
}

.shaxan th{
    background:#0077b6;
    color:white;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:12px;
    font-weight:bold;
}

input,
select,
textarea{
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:5px;
}

input[type="submit"]{
    background:#0077b6;
    color:white;
    border:none;
    margin-top:20px;
    cursor:pointer;
    font-size:16px;
}

input[type="submit"]:hover{
    background:#023e8a;
}

footer{
    background:#023e8a;
    color:white;
    text-align:center;
    padding:40px;
    display: flex;
    
}
.p2{
    margin-right: 20px;
}

.tiir a{
    color:white;
    text-decoration:none;
    margin:0 10px;
}

.tiir a:hover{
    color:yellow;
}

.horyaal{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}
.fa-envelope-open {
    font-size: 60px;
    color: #007bff;
    margin: 10px;
}

.fa-envelope-open:hover {
    color: #ff6600;
    transform: scale(1.2);
}
small{
    flex-direction: column;
    margin-left: 40px;
}
.main1{
    display: flex;
    margin-top: 30px;
}
.sec1{
    background-color: #0077b6;
    color: white;
    margin-right: 2opx;
    border: 5px solid white;
    border-radius: 15px;
    height: 380px;

}
.sec2{
    
    background-color: #0077b6;
    color: white;
    margin-right: 2opx;
    border: 5px solid white;
    border-radius: 15px;
    height: 380px;

}
.sec3{
    
    background-color: #0077b6;
    color: white;
    margin-right: 3opx;
    border: 5px solid white;
    border-radius: 15px;
    height: 380px;

}
.two{
    display: inline;
    flex-direction: row;
}
.one{
  color: #007bff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top:160px ;
}
